

// MAIN COLORS
$text-light: #ebebeb;
$text-light-hover: #b6b6b6;
$text-dark: #1f1e1e;
$color-accent: #cbd900;


// BACKGROUNDS
$bg-main: linear-gradient(
    105deg, 
    #212121 10%, 
    #312a2a 50%,
    #212121 80%
);
$bg-main-mobile: linear-gradient(
    92deg, 
    #212121 10%,
    #312a2a 50%,
    #212121 80%
);
$bg-low-opacity: #0000007a;
$bg-mono-dark: #212121;
$bg-mono-dark-footer: #141213;


// SCROLLBAR
$scrollbar-track: #2e2c2c;
$scrollbar-thumb: #1f1c1c;
$scrollbar-thumb-hover: #1a1717;



















   